ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD7OQezu4es8TseeDiq0rUle5Qcm2RHMV5Pr2G6rJjB2bjd7zAFISxYRCyOHhiHfhIPupPI4jsrac4OTiypLcHKMqCbIVetsVZBnLrXz5nyYOGfcHfBsj1Dc44pGPoBVTGTT3Aj6ewbZ2NhQpc14b418wwePyxZ+p8PQovuUhZhMvsVENeCw+l0/0xTjt9OplV5XL4V19F4+kX3mR5rYc3DP1m0dTwbbJ0etpGXojoHDuJ0PfcIITDYxw39vPfvtx1EJVk+qA84C0B2qHyRqdox8gSDBtmSLZxSzRMxZvacOHC3x4fUyKgxwbRWP/GMni2MIcLe/yoDtbcqmF500/0H asagitov@phoenixit.ru
